.mahal_breadcrumbs {
	padding: .5em;
	margin: .5em 0;
	text-align: center;
	color: #aaa;
}

.mahal_breadcrumbs a {
	text-decoration: none;
	position: relative;
}

.mahal_breadcrumbs .dashicons {
	font-size: 1.4em;
}